.button {
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: $s-size;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
}

.green {
    background-color: $lt-green;
    color: $dk-blue; 
}

.white {
    background-color: white;
    color: $lt-green; 
}

.yellow {
    background-color: $dk-yellow;
    color: $dk-blue;
}

.red {
    background-color: fade-out($color: $lt-red, $amount: 0.6);
    color: darken($color: $dk-red, $amount: 20%);
}

.remove-button {
    margin-top: 5px;
    padding: 14px 10px;
}

.save-button {
    margin-left: 10px;
}