.header {
    background: white;
    box-shadow: 0px 5px 10px -5px rgba($color: $dk-blue, $alpha: 0.24);
}

.header__title {
    color: $dk-green;
    text-decoration: none;
    h1 {
        font-family: "Open Sans", sans-serif;
        margin: 0;
    }
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}