// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Colors
$lt-black: #303030;
$dk-blue: #1d4752;
$lt-green: #12e28c;
$dk-green: #03d07f;
$lt-red: #ff9a90;
$dk-red: #ff776a; 
$lt-yellow: #fff2b6;
$dk-yellow: #efc747;